body{
    font-family: cursive;
}
#header-nav{
    background-color:#008b8b;
    border:0;
    border-radius: 0;
    border-bottom:2px solid black;
    border-top:2px solid black;
}

.navbar-brand h1{
    font-family: 'Lora', serif;
    color:#ffffff;
    font-size: 1.5em;
    text-transform:uppercase;
    font-weight: bold;
    margin-top:0;
    margin-bottom:0;
    line-height:.75;
    position:relative;
    left:20px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border:1px solid #000000;
}

#nav-list{
    margin-top:10px;
}

#nav-list li{
    color:#ffffff;
    text-align:center;
    font-size: 1.5em;
}

#nav-list li:hover{
    background:#20b2aa;
    cursor:pointer;
}

h2{
    font-family: 'Lora', serif;
    font-weight: bold;
    margin-bottom:50px;
}
#main-content div{
    padding:10px;
}


p{
    border:3px solid black;
    background-color:#d3d3d3;
    font-size: 1.2em;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    height:1500px;
    line-height:1.5;
    position:relative
}

#main-content span{
    font-size:125%;
    font-weight: bold;
    position:absolute;
    top:0;
    left:47.5%;
}

